<h1>Listing posts</h1>

<%= link_to 'New Post', new_post_path %>

<form name="input" action="/posts" method="get" id="search_form"> 
  <input type="text" name="tags" class="tag_field"/>
  <input type="submit" value="Search"/>
</form>
<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <% @posts.each do |post| %>
  <div class="box col4">
    <p><%= markdown(post.content) %></p>
    <p><b>Location:</b> <%= location_link(post.location.first) %></p>
    <p><b>Tags:</b> <%= tag_link(post.tags) %></p>
  </div>
  <% end %>
</div>

